<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @place[:date] %>
</h2>
<h1>comment for <%= @place[:title] %></h1>

<form action="/places/<%= @place[:id] %>/comments/create">
  <div class="form-group">
    <label>Are you going?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>