<h1>Comment on <%= @place[:title] %></h1>

<form action="/places/<%= @place[:id] %>/comments/create">
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>